.content_section_text1 {
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
}

.content_section_text1 h1 {
  font-size: 2.7rem;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.photo {
  margin: 50px auto 30px;
  display: flex;
  justify-content: center;
}

.image2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.chel h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: 700;
}

.chel h3 {
  font-size: 1.1rem;
  color: #707070;
  font-weight: 500;
}